@font-face {
    font-family: 'FHA-Condensed-French-NC';
    src:url('../fonts/FHA-Condensed-French-NC.ttf.woff') format('woff'),
        url('../fonts/FHA-Condensed-French-NC.ttf.svg#FHA-Condensed-French-NC') format('svg'),
        url('../fonts/FHA-Condensed-French-NC.ttf.eot'),
        url('../fonts/FHA-Condensed-French-NC.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

body{
    background-image: url(../img/duck.jpg);
    background-size: cover;
}

footer{
    text-align: center;
    font-family: 'FHA-Condensed-French-NC';
    font-size: 3rem;
    color: orange;
    text-shadow: 1px 1px black;
    margin-top: 10vw;
}

h1{
    text-align: center;
    font-family: 'FHA-Condensed-French-NC';
    font-size: 3rem;
    color: orange;
    text-shadow: 3px 3px black;
}

#random{
    margin-top: 10vw;
    text-align: center;
    font-family: 'FHA-Condensed-French-NC';
    font-size: 2rem;
    color: orange;
    text-shadow: 2px 2px black;
    opacity: 1;
}

button{
    margin-top: 10vw;
    font-size: 1.3rem;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    transition-duration: 0.4s;
}

button:hover{
    background-color: orange;
}

button:active{
    transition-duration: 0s;
    background-color: green;
}

#buttonContainer{
    display: flex;
    justify-content: center;
}